<section id="public-msg" class="alert alert-info">
		<%= content_tag :div, 'Public Messages', class: 'lead span3' %>
		<div class="span8">
		<% @entry.messages.pub.each do |message| %>
			<div class="row">
				<div class="span2">
					<%= msg_sender_helper(message, current_user) %>
					said
				</div>
				<div class="span6">
					<%= message.message %>
				</div>
			</div>
		<% end %>
		</div>
	<%= clearfix_div %>
</section>
