/*
 *= require_self
 *= require jquery.fileupload-ui
 *= require_tree .
*/

//@font-face
//  font-family: "HelveticaNeue-Condensed"
//  src: url('HelveticaNeue-Condensed.otf')
//  src: local('HelveticaNeue-Condensed')

//.content {
//  background-color: #eee;
//  padding: 20px;
//  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
//  -webkit-border-radius: 0 0 6px 6px;
//  -moz-border-radius: 0 0 6px 6px;
//  border-radius: 0 0 6px 6px;
//  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
//  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
//  box-shadow: 0 1px 2px rgba(0,0,0,.15);
//}

section.alert {
	border-width: 4px;
	.lead { margin-bottom: 0; }
} 
.txtcenter { text-align: center !important; }
.txtright { text-align: right !important; }
.small { font-size: 0.8em; }
.cancelled { text-decoration: line-through; }
.required {
	label { color: #C00; }
	input, select { border: 1px solid black !important; }
}
.help-block { color: #919191 !important; margin-top: 0 !important; }

.label.highlight, .label.label-highlight, .highlight { background-color: #FFF6BF; color: black; }
.label, .badge { font-size: 1.2em; font-weight: normal !important; padding: 4px 8px !important;  text-transform: uppercase; }

table {
	p { margin-bottom: 0 !important; }
	th, td { vertical-align: middle !important; }
}

.navbar .navbar-search .btn { margin: 0; vertical-align: top; }
.search { margin-top: -20px; }

.pagination { text-align: center; }
.page-info { margin-bottom: 15px; }

.ui-datepicker-trigger { margin-left: 5px; vertical-align: inherit; }

.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  background-color: #FFF6BF;
}

//.dashboard .bottom-bar { margin-top: 10px; }

.modal form { margin-bottom: 0; }
.message-table {
	td { line-height: 16px !important; }
	blockquote { margin-bottom: 5px; }
	.control-group { margin-bottom: 0; }
} 

@media print {
	.navbar, a.btn, button.btn { display: none; }
	body {margin: 25px;}
}