
#diff-table { margin: 25px 0;  }
#diff-table th, #diff-table td { color: black; border: 1px solid #000; ; text-align: center !important;}
//#diff-table tr:first-child { padding }
//#diff-table .column { width: 432px; }
//#diff-table .row { height: 432px; }
#diff-table b { display: block; font-weight: 200; margin: 5px 0 0; }
#diff-table span { font-size: 1.2em; }
#diff-table div { float: left; margin: 10px 10px 0 0 !important; width: 31%;}
#diff-table .last { margin-right: 0; }
#diff-table .number { color: #919191; font-size: 1.2em; font-weight: bolder; margin: 10px 0; }
#diff-table .label { margin: 10px 0;}

.message { clear: both; float: left; margin-bottom: 10px; }
.modal { width: 80%; margin-left: -40%; }
.modal form { margin-bottom: 0; }

.variances {
	.control-group { margin: 0; }
}
