select { width: auto; }

.entries.new, .entries.edit {
	#veh-brand, #veh-model, #veh-variant { margin-left: 10px; 
		.help-inline { display: block; }
		}
	#add-variant-btn { padding-top: 25px; }
	section { margin-bottom: 10px; }
	input, select { margin-bottom: 0; }
}

//.vehicle-name { font-size: 1.2em; }
.form-search {
	.parts-search-fields { float: right; margin-top: 15px; }
	.btn { margin-top: 0; }
}
#search-results {
	.set { margin-bottom: 20px; }
	li { margin-bottom: 2px; }
	.btn-block { padding: 4px 14px; text-align: left; }
}
#vehicle-info { margin-bottom: 10px; }
.show .page-header { margin-bottom: 10px; }
.show table dt { text-align: left; }
.dl-horizontal dd { margin-left: 0; }

.photo-set li { display: inline; }

.show .row.title { font-size: 1.2em; font-weight: bold; padding: 20px 0; }
.show .bids p { padding: 0 7% 1%; }
.show .alert { padding-right: 8px; }
//.show #line-items, .show #parts { max-height: 400px; overflow: auto; }
.show #cart ul { max-height: 200px; overflow: auto; }

div.index { color: #999; font-size: 1.3em; float: left; margin-left: -10px; margin-right: 15px; text-align: center; width: 25px; }
div.partdesc { float: left; width: 75%;} 

.show td.label { font-size: 1.2em; font-weight: normal; text-transform: uppercase; }
//.show .table tbody tr:hover td.label { background-color: transparent !important; color: inherit; }
.show table { margin-bottom: 5px; }
.show .btn-toolbar { margin-top: 0; margin-bottom: 0; }

.entries .progress { margin-bottom: 5px; }


.entries .required {
	select, input { font-size: 1.5em; font-weight: 300; height: auto; }
}
#parts-list {
	div.parts { float: left; width: 90%; }
	#add-part-box form { margin-top: 2em; text-align: left; }
}