.fees table, table.fees {
	div { float: left; min-height: 1em; }
	.fee { clear: both; margin-bottom: 4px; position: relative; }
	.part { min-height: 1em; }
	.amount, .factors { margin-left: 8px;  }
	.amount { width: 80px;}
	.close { position: absolute; top: -2px; right: -15px; }
	}
.fees .row .lead { 
	line-height: inherit; 
	.label { float: right; }
	}	
.negative { color: #C00; font-weight: normal; }
