.seller.entries table input { margin: 0; }
#bidding-message { font-size: 1.5em; text-transform: uppercase; }
.bid-rate { width: 100%; text-align: center;}
.bid-amount { margin-right: 5px; text-align: right; width: 68px; }
.show.bids input { text-align: center; }